body {
    font-size: 22px;
}

input[type='text'] {
    margin: 10px 0;
    display: block;
}

[v-cloak] {
    display: none;
}

li {
    font-size: 18px;
}

li a:link {
    text-decoration: none;
}

li a:hover {
    color: rgb(87, 23, 76);
}
